html {
    height: 100vh;
    background-color: #202020;
}

body {
    color: white;
}

.template-box  {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}   

.wrapper {
    flex: 1;
    padding: 5px 10px;
}
.column-wrapper {
    padding: 5px 10px;
}
.bigbox {
    min-height: 100px;
    min-width: 100px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    .bigbox-copied {
        padding: 5px 15px;
        border-radius: 3px;
        background-color: rgba(0, 0, 0, .8);
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .8s
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0
    }
}

select {
    color: #202020 !important;
}
